@model IEnumerable<ShoppingListDAL.Models.Products>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Games</h1>
<div class="container">
    @for (int i = 0; i < Model.Count(); i++)
    {
        var current = i;

        if(current % 3 == 0)
        {
            @:<div class="row justify-content-between">
        }
        <div class="m-3 col-3">
            <div class="card text-center">
                <h5 class="card-title">@Model.ElementAt(i).Name</h5>
                <p class="card-text">@Model.ElementAt(i).Price</p>
                @Html.ActionLink("Add to Cart", "AddToCart", "Products",
            routeValues: new { productId = Model.ElementAt(i).Id },
            htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        if ((current - 2) % 3 == 0)
        {
           @:</div>
        }
    }
</div>



